<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmkK0yQp6uMoifJE7pHHTbWneX2uQSwtY</string>
	<key>GCM_SENDER_ID</key>
	<string>349748554121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodExample</string>
	<key>PROJECT_ID</key>
	<string>riverpod-mastery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-mastery-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349748554121:ios:315a8bb46be4a20f73d958</string>
</dict>
</plist>